<ion-header>
  <ion-toolbar color="primary">
      <ion-title>Añadir {{ formulario }}</ion-title>
      <ion-buttons slot="end">
          <ion-button (click)="salirSinArgumentos()">
              <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!--
                         _            _            
     _ __  _ __ ___   __| |_   _  ___| |_ ___  ___ 
    | '_ \| '__/ _ \ / _` | | | |/ __| __/ _ \/ __|
    | |_) | | | (_) | (_| | |_| | (__| || (_) \__ \
    | .__/|_|  \___/ \__,_|\__,_|\___|\__\___/|___/
    |_|                                            
    -->
  <ion-row *ngIf="formulario==='productos'">
      <ion-col size="12">
          <ion-item>
              <ion-label position="floating">Categoria:</ion-label>
              <ion-input type="text"></ion-input>
          </ion-item>
      </ion-col>
      <ion-col size="12">
          <ion-item>
              <ion-label position="floating">Descripción:</ion-label>
              <ion-textarea></ion-textarea>
          </ion-item>
      </ion-col>
      <ion-col size="12">
          <ion-item>
              <ion-label position="floating">Precio:</ion-label>
              <ion-input name="precio" [(ngModel)]="objeto.precio" type="number"></ion-input>
          </ion-item>
      </ion-col>
      <ion-col size="12">
          <ion-item>
              <ion-label position="floating">Mínimo:</ion-label>
              <ion-input type="number"></ion-input>
          </ion-item>
      </ion-col>
      <ion-col size="12">
          <ion-item>
              <ion-label position="floating">Máximo:</ion-label>
              <ion-input type="number"></ion-input>
          </ion-item>
      </ion-col>
      <ion-col size="12">
          <ion-item>
              <ion-label position="floating">Marca:</ion-label>
              <ion-input type="text"></ion-input>
          </ion-item>
      </ion-col>
      <ion-col size="12">
          <ion-item>
              <ion-label position="floating">Existencia:</ion-label>
              <ion-input type="text"></ion-input>
          </ion-item>
      </ion-col>
      <ion-col size="12">
          <ion-item>
              <ion-label>Activa</ion-label>
              <ion-toggle checked></ion-toggle>
          </ion-item>
      </ion-col>
      <ion-col size="12">
          <ion-item>
              <ion-label position="floating">Precios:</ion-label>
              <ion-input type="text"></ion-input>
          </ion-item>
      </ion-col>
      <ion-col size="12">
          <ion-item>
              <ion-label position="floating">Observaciones:</ion-label>
              <ion-textarea></ion-textarea>
          </ion-item>
      </ion-col>
  </ion-row>
    <!-- zonas -->
    <ion-row *ngIf="formulario==='zonas'">
        <ion-col size="12" size-md="6">
            <ion-item>
                <ion-label position="floating">Nombre:</ion-label>
                <ion-input type="text" name="nombre" [(ngModel)]="objeto.nombre"></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>
    <!-- usuarios -->
    <ion-row *ngIf="formulario==='usuarios'">
        <ion-col size="12" size-md="6">
            <ion-item>
                <ion-label position="floating">Nombre:</ion-label>
                <ion-input type="text" name="nombre" [(ngModel)]="objeto.nombre"></ion-input>
            </ion-item>
        </ion-col>
        <ion-col size="12" size-md="6">
            <ion-item>
                <ion-label position="floating">Usuario:</ion-label>
                <ion-input type="text" name="usuario" [(ngModel)]="objeto.usuario"></ion-input>
            </ion-item>
        </ion-col>
        <ion-col size="12" size-md="6">
            <ion-item>
                <ion-label position="floating">Contraseña:</ion-label>
                <ion-input type="text" name="contrasenia" [(ngModel)]="objeto.contrasenia"></ion-input>
            </ion-item>
        </ion-col>
        <ion-col size="12" size-md="6">
            <ion-item>
                <ion-label>Activo</ion-label>
                <ion-toggle checked [(ngModel)]="objeto.activo"></ion-toggle>
            </ion-item>
        </ion-col>

    </ion-row>




  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="salirConArgumentos()">
          <ion-icon name="save"></ion-icon>
      </ion-fab-button>
  </ion-fab>
</ion-content>