<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Añadir {{ formulario }}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="salirSinArgumentos()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <!-- productos -->
    <ion-row *ngIf="formulario==='productos'">
        <ion-col size="12">
            <ion-item>
                <ion-label position="floating">Categoria:</ion-label>
                <ion-input type="text"></ion-input>
            </ion-item>
        </ion-col>
        <ion-col size="12">
            <ion-item>
                <ion-label position="floating">Descripción:</ion-label>
                <ion-textarea></ion-textarea>
            </ion-item>
        </ion-col>
        <ion-col size="12">
            <ion-item>
                <ion-label position="floating">Precio:</ion-label>
                <ion-input name="precio" [(ngModel)]="objeto.precio" type="number"></ion-input>
            </ion-item>
        </ion-col>
        <ion-col size="12">
            <ion-item>
                <ion-label position="floating">Mínimo:</ion-label>
                <ion-input type="number"></ion-input>
            </ion-item>
        </ion-col>
        <ion-col size="12">
            <ion-item>
                <ion-label position="floating">Máximo:</ion-label>
                <ion-input type="number"></ion-input>
            </ion-item>
        </ion-col>
        <ion-col size="12">
            <ion-item>
                <ion-label position="floating">Marca:</ion-label>
                <ion-input type="text"></ion-input>
            </ion-item>
        </ion-col>
        <ion-col size="12">
            <ion-item>
                <ion-label position="floating">Existencia:</ion-label>
                <ion-input type="text"></ion-input>
            </ion-item>
        </ion-col>
        <ion-col size="12">
            <ion-item>
                <ion-label>Activa</ion-label>
                <ion-toggle checked></ion-toggle>
            </ion-item>
        </ion-col>
        <ion-col size="12">
            <ion-item>
                <ion-label position="floating">Precios:</ion-label>
                <ion-input type="text"></ion-input>
            </ion-item>
        </ion-col>
        <ion-col size="12">
            <ion-item>
                <ion-label position="floating">Observaciones:</ion-label>
                <ion-textarea></ion-textarea>
            </ion-item>
        </ion-col>
    </ion-row>


    <!-- zonas -->
    <ion-row *ngIf="formulario==='zonas'">
        <ion-col size="12" size-md="6">
            <ion-item>
                <ion-label position="floating">Nombre:</ion-label>
                <ion-input type="text" name="nombre" [(ngModel)]="objeto.nombre"></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>


    <!-- usuarios -->
    <ion-row *ngIf="formulario==='usuarios'">
        <ion-col size="12" size-md="6">
            <ion-item>
                <ion-label position="floating">Nombre:</ion-label>
                <ion-input type="text" name="nombre" [(ngModel)]="objeto.nombre"></ion-input>
            </ion-item>
        </ion-col>
        <ion-col size="12" size-md="6">
            <ion-item>
                <ion-label position="floating">Usuario:</ion-label>
                <ion-input type="text" name="usuario" [(ngModel)]="objeto.usuario"></ion-input>
            </ion-item>
        </ion-col>
        <ion-col size="12" size-md="6">
            <ion-item>
                <ion-label position="floating">Contraseña:</ion-label>
                <ion-input type="text" name="contrasenia" [(ngModel)]="objeto.contrasenia"></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>


    <!-- categorias -->
    <ion-row *ngIf="formulario==='categorias'">
        <ion-col size="12">
            <ion-item>
                <ion-label position="floating">Categoria:</ion-label>
                <ion-input type="text" name="categoria" [(ngModel)]="objeto.nombre"></ion-input>
            </ion-item>
        </ion-col>
        <ion-col size="12">
            <ion-item>
                <ion-label position="floating">Cóigo:</ion-label>
                <ion-input type="number" name="codigo" [(ngModel)]="objeto.codigo"></ion-input>
            </ion-item>
        </ion-col>
        <ion-col size="12">
            <ion-item>
                <ion-label position="floating">Descripción:</ion-label>
                <ion-input type="text" name="descripcion" [(ngModel)]="objeto.descripcion"></ion-input>
            </ion-item>
        </ion-col>
        <ion-col size="12">
            <ion-item>
                <ion-label position="floating">Observaciones:</ion-label>
                <ion-input type="text" name="observaciones" [(ngModel)]="objeto.observaciones"></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>


    <!-- Gastos -->
    <ion-row *ngIf="formulario==='gastos'">
        <ion-col size="12">
            <ion-item>
                <ion-label position="floating">Concepto:</ion-label>
                <ion-input type="text" name="nombre" [(ngModel)]="objeto.nombre"></ion-input>
            </ion-item>
        </ion-col>
        <ion-col size="12">
            <ion-item>
                <ion-label position="floating">Fecha:</ion-label>
                <ion-datetime displayFormat="MM DD YY" placeholder="Select Date" name="fecha" [(ngModel)]="objeto.fecha" ></ion-datetime>
            </ion-item>
        </ion-col>
        <ion-col size="12">
            <ion-item>
                <ion-label position="floating">Monto:</ion-label>
                <ion-input type="number" name="monto" [(ngModel)]="objeto.monto"></ion-input>
            </ion-item>
        </ion-col>
        <ion-col size="12">
            <ion-item>
                <ion-label position="floating">Observaciones:</ion-label>
                <ion-input type="text" name="observaciones" [(ngModel)]="objeto.observaciones"></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>


    <!-- clientes -->
    <ion-row *ngIf="formulario==='clientes'">
        <ion-col size="12">
            <ion-item>
                <ion-label position="floating">Nombre:</ion-label>
                <ion-input name="nombre" [(ngModel)]="objeto.nombre" type="text"></ion-input>
            </ion-item>
        </ion-col>
        <ion-col size="12">
            <ion-item>
                <ion-label position="floating">Zona:</ion-label>
                <ion-input name="zona" [(ngModel)]="objeto.zona" type="text"></ion-input>
            </ion-item>
        </ion-col>
        <ion-col size="12">
            <ion-item>
                <ion-label position="floating">Dirección:</ion-label>
                <ion-input name="direccion" [(ngModel)]="objeto.direccion" type="text"></ion-input>
            </ion-item>
        </ion-col>
        <ion-col size="12">
            <ion-item>
                <ion-label position="floating">Telefono:</ion-label>
                <ion-input name="telefono" [(ngModel)]="objeto.telefono" type="number"></ion-input>
            </ion-item>
        </ion-col>
        <ion-col size="12">
            <ion-item>
                <ion-label position="floating">Celular:</ion-label>
                <ion-input name="celular" [(ngModel)]="objeto.celular" type="number"></ion-input>
            </ion-item>
        </ion-col>
        <ion-col size="12">
            <ion-item>
                <ion-label position="floating">Contacto:</ion-label>
                <ion-input name="contacto" [(ngModel)]="objeto.contacto" type="text"></ion-input>
            </ion-item>
        </ion-col>
        <ion-col size="12">
            <ion-item>
                <ion-label position="floating">Correo:</ion-label>
                <ion-input name="correo" [(ngModel)]="objeto.correo" type="text"></ion-input>
            </ion-item>
        </ion-col>
        <ion-col size="12">
            <ion-item>
                <ion-label>Cliente Activo</ion-label>
                <ion-toggle checked name="clienteactivo" [(ngModel)]="objeto.clienteActivo"></ion-toggle>
                <ion-label>Credito</ion-label>
                <ion-toggle checked name="creditoactivo" [(ngModel)]="objeto.creditoActivo"></ion-toggle>
                <ion-label position="floating">Dias de credito:</ion-label>
                <ion-input name="diascredito" [(ngModel)]="objeto.diasCredito" type="number"></ion-input>
            </ion-item>
        </ion-col>
        <ion-col size="12">
            <ion-item>
                <ion-label position="floating">Limite de credito:</ion-label>
                <ion-input name="limitecredito" [(ngModel)]="objeto.limiteCredito" type="number"></ion-input>
                <ion-label position="floating">Limite de Notas:</ion-label>
                <ion-input name="lmitenotas" [(ngModel)]="objeto.limiteNotas" type="number"></ion-input>
            </ion-item>
        </ion-col>
        <ion-col size="12">
            <ion-item>
                <ion-label position="floating">Saldo:</ion-label>
                <ion-input name="saldo" [(ngModel)]="objeto.saldo" type="number"></ion-input>
            </ion-item>
        </ion-col>
        <ion-col size="12">
            <ion-item>
                <ion-label position="floating">Observaciones:</ion-label>
                <ion-textarea name="observaciones" [(ngModel)]="objeto.observaciones"></ion-textarea>
            </ion-item>
        </ion-col>
    </ion-row>




    <!-- NOTA: DEJAR SIEMPRE AL FINAL -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="salirConArgumentos()">
            <ion-icon name="save"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    
</ion-content>