<app-header titulo="CATEGORIAS"></app-header>
<ion-content>
  <ion-row>
    <ion-col size="12" size-md="6">
      <ion-item >
        <ion-label position="floating">CATEGORIA:</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="12" size-md="6">
      <ion-item >
        <ion-label position="floating">CÓDIGO:</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="12" size-md="6">
      <ion-item >
        <ion-label position="floating">DESCRIPCIÓN:</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="12" size-md="6">

      <ion-item >
        <ion-label position="floating">OBSERVACIONES:</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-col>

    <ion-col>

      <ion-label>
        <ion-checkbox></ion-checkbox>
        <span>Categoria activa</span>
      </ion-label>
    </ion-col>

  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button color="primary" expand="block">Limpiar datos</ion-button>
    </ion-col>
    <ion-col>
      <ion-button color="primary" expand="block">Guardar</ion-button>
    </ion-col>
  </ion-row>
</ion-content>