<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Añadir Categoria</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row>
        <ion-col size="12">
            <ion-item>
                <ion-label position="floating">Categoria:</ion-label>
                <ion-input type="text"></ion-input>
            </ion-item>
        </ion-col>
        <ion-col size="12">
            <ion-item>
                <ion-label position="floating">Cóigo:</ion-label>
                <ion-textarea></ion-textarea>
            </ion-item>
        </ion-col>
        <ion-col size="12">
            <ion-item>
                <ion-label position="floating">Descripción:</ion-label>
                <ion-input type="number"></ion-input>
            </ion-item>
        </ion-col>
        <ion-col size="12">
            <ion-item>
                <ion-label position="floating">Observaciones:</ion-label>
                <ion-input type="number"></ion-input>
            </ion-item>
        </ion-col>

        <ion-col size="12">
            <ion-item>
                <ion-label>Activa</ion-label>
                <ion-toggle checked></ion-toggle>
            </ion-item>
        </ion-col>
    </ion-row>
</ion-content>